{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
  <div class="container">
      <h1>User index</h1>

      <table class="table">
          <thead>
          <tr>
              <th>Id</th>
              <th>NameUser</th>
              <th>MailUser</th>
              <th>MdpUser</th>
              <th>TelUser</th>
              <th>RoleUser</th>
              <th>actions</th>
          </tr>
          </thead>
          <tbody>
          {% for user in users %}
              <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.nameUser }}</td>
                  <td>{{ user.mailUser }}</td>
                  <td>{{ user.mdpUser }}</td>
                  <td>{{ user.telUser }}</td>
                  <td>{{ user.roleUser }}</td>
                  <td>
                      <a href="{{ path('user_show', {'id': user.id}) }}"class="btn btn-outline-secondary">Show</a>
                      <a href="{{ path('user_edit', {'id': user.id}) }}"class="btn btn-outline-secondary">Edit</a>
                  </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="7">no records found</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>

      <a href="{{ path('user_new') }}">Create new</a>
  </div>
{% endblock %}
